{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"endOfLine": "auto",
	"overrides": [
		{
			"files": ["*.html"],
			"options": { "parser": "vue" }
		},
		{
			"files": ["*.{json,yml,yaml}"],
			"options": { "tabWidth": 2 }
		}
	]
}
